/* Importing Google Fonts */
@import url('https://fonts.googleapis.com/css?family=Abel|Abril+Fatface|Alegreya|Arima+Madurai|Dancing+Script|Dosis|Merriweather|Oleo+Script|Overlock|PT+Serif|Pacifico|Playball|Playfair+Display|Share|Unica+One|Vibur');

/* Global Reset */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Body Styling */
body {
    background: linear-gradient(to top, #a8edea 0%, #fed6e3 100%);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
}

.input-container {
    display: flex;
    align-items: center;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    background: white;
}

.input-container i {
    color: #555;
    margin-right: 10px;
    font-size: 18px;
}

.input-container .form-input {
    border: none;
    width: 100%;
    font-size: 16px;
    outline: none;
    height: 30px;
}

/* Form Styling */
form {
    width: 450px;
    min-height: 500px;
    border-radius: 5px;
    margin: 2% auto;
    box-shadow: 0 9px 50px hsla(20, 67%, 75%, 0.31);
    padding: 2%;
    background-image: linear-gradient(-225deg, #E3FDF5 50%, #FFE6FA 50%);
}

/* Form Container */
form .con {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 0 auto;
}

/* Header Styling */
header {
    margin: 2% auto 10% auto;
    text-align: center;
}

header h2 {
    font-size: 250%;
    font-family: 'Playfair Display', serif;
    color: #3e403f;
}

header p {
    letter-spacing: 0.05em;
}

/* Input Fields */
input.form-input {
    width: 240px;
    height: 50px;
    margin-top: 2%;
    padding: 15px;
    font-size: 16px;
    font-family: 'Abel', sans-serif;
    color: #5E6472;
    outline: none;
    border: none;
    border-radius: 0px 5px 5px 0px;
    transition: 0.2s linear;
}

/* Input Focus Effect */
input:focus {
    transform: translateX(-2px);
    border-radius: 5px;
}

/* Buttons Styling */
button {
    display: inline-block;
    color: #252537;
    width: 280px;
    height: 50px;
    padding: 0 20px;
    background: #fff;
    border-radius: 5px;
    outline: none;
    border: none;
    cursor: pointer;
    text-align: center;
    transition: all 0.2s linear;
    margin: 7% auto;
    letter-spacing: 0.05em;
}

/* Specific Button Styles */
.frgt-pass {
    background: transparent;
}

.sign-up {
    background: #B8F2E6;
}

/* Button Hover Effects */
button:hover {
    transform: translateY(3px);
    box-shadow: none;
    animation: buttonHover 0.4s ease-in-out infinite alternate;
}
